/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0;
}

.gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-auto-rows: 600px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}  
.gallery .gallery-item {
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
}
.gallery .gallery-item: :nth-child(7n + 1){
    grid-column: span 3;
    grid-row: span 3;

}
.gallery .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.gallery .gallery-item {
    transition: transform 0.3s ease;
}

.gallery .gallery-item .visually-hidden {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(38, 38, 38, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.gallery .gallery-item:hover .visually-hidden {
    opacity: 50;
}

.gallery .gallery-item .fa fa-heart .fa