/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0;
}

.gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-auto-rows: 600px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}  
.gallery .gallery-item {
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
}
.gallery .gallery-item: :nth-child(7n + 1){
    grid-column: span 3;
    grid-row: span 3;

}
.gallery .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

/* Ensure .gallery-item is positioned relative to contain .gallery-item-info */
.gallery .gallery-item {
    position: relative;
    overflow: hidden; /* Hides any overflowing content */
}

/* Initial state for the overlay (hidden) */
.gallery .gallery-item-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0; /* Hidden by default */
    background-color: rgba(38, 38, 38, 0.5); /* Background overlay color */
    transition: opacity 0.3s ease; /* Smooth transition for fade-in effect */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Text color inside the overlay */
    gap: 20px;
}

/* Reveal overlay on hover */
.gallery .gallery-item:hover .gallery-item-info {
    opacity: 1; /* Fully visible on hover */
}

    
